snippet if
<% if ${1:cond} %>
  ${0:block}
<% end %>
endsnippet

snippet each
<% ${1:list}.each do |${2:var}| %>
  ${0:block}
<% end %>
endsnippet

snippet cmt
<%# $0 %>
endsnippet

# Used in *.md.erb files, which is how I write markdown articles
snippet rb
\`\`\`ruby
${0}
\`\`\`
endsnippet

# Used to include a local file as a code sample
snippet file
\`\`\`${0:ruby}
<%= File.read("$1") %>
\`\`\`
endsnippet
