snippet todo
// TODO: $0
endsnippet

snippet cl "console.log..."
console.log(${1});$0
endsnippet

snippet vs "self = this"
var self = this;
endsnippet

snippet fn "arrow func"
() => {
  $0
}
endsnippet

snippet it "it('whatever', () => {..."
it('${1}', async () => {
	$0
});
endsnippet
