snippet script
#!/bin/bash

set -euo pipefail

main() {
  ${1}
}

main

endsnippet


snippet fn
${1:name}() {
  ${2:# TODO}
}

endsnippet


snippet var
\${${1:name}\}${2}
endsnippet


snippet lro
local readonly ${1:name}=\$${2}
endsnippet
